{% extends 'Home/base.html' %}
{% load static %}
{% block BASE_TITULO %}
    <title>About</title>
{% endblock BASE_TITULO %}

{% block BASE_CONTENIDO %}

    {% block ABOUT_CONTENIDO %}
        <div class="text-center text-xxl-start">
            <div class="badge bg-gradient-primary-to-secondary text-white mb-4"><div class="text-uppercase">Share &middot; Your &middot; Proyect</div></div>
            <div class="fs-2 fw-normal">Bienvenido a Share.Your.Project</div>
            <div class="fs-3 fw-light text-muted">Plataforma web para gestionar proyectos</div>
            <br/>
            <div class="fs-4 fw-bold">Desarrollador:</div>
            <br>
            <img src="{% static 'Home/img/img.jpeg' %}" height="400" width="300" alt="Tempo Federico">
            <br>
            <br>
            <div class="fs-5 fw-bold">Federico Tempo</div>
            <br>
            <div class="fs-6 fw-bold">Ingeniero Civil | Jr. Backend Developer - Python</div>
        </div>
    {% endblock ABOUT_CONTENIDO %}

{% endblock BASE_CONTENIDO %}