{% extends 'Home/base.html' %}

{% block BASE_TITULO %}
    <title>About</title>
{% endblock BASE_TITULO %}

{% block BASE_CONTENIDO %}

    {% block ABOUT_CONTENIDO %}
        <div class="text-center text-xxl-start">
            <div class="badge bg-gradient-primary-to-secondary text-white mb-4"><div class="text-uppercase">Share &middot; Your &middot; Proyect</div></div>
            <div class="fs-2 fw-normal">Bienvenido a Share.Your.Project</div>
            <div class="fs-3 fw-light text-muted">Este sitio web opera para compartir tu proyecto al mundo</div>
        </div>
    {% endblock ABOUT_CONTENIDO %}

{% endblock BASE_CONTENIDO %}