{% extends 'Home/base.html' %}

{% block BASE_TITULO %}
    <title>Inicio</title>
{% endblock BASE_TITULO %}

{% block BASE_CONTENIDO %}

    {% block INDEX_CONTENIDO %}

        <div class="text-center text-xxl-start">
            <div class="badge bg-gradient-primary-to-secondary text-white mb-4"><div class="text-uppercase">Share &middot; Your &middot; Proyect</div></div>
            <div class="fs-3 fw-light text-muted">Tu plataforma ideal para</div>
            <h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">Compartir proyectos</span></h1>
            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="{% url 'Home:about' %}">About</a>
                <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="{% url 'proyectos:proyectocategoria_list' %}">Proyectos</a>
            </div>
        </div>

    {% endblock INDEX_CONTENIDO %}

{% endblock BASE_CONTENIDO %}



