<nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
    <div class="container px-5">
        <a class="navbar-brand" href="{% url 'Home:home' %}"><span class="fw-bolder text-primary">Share.Your.Project</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                <li class="nav-item"><a class="nav-link {% if request.path == "/" %} active {% endif %}" href="{% url 'Home:home' %}">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'proyectos:proyectocategoria_list' %}">Proyectos</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link text-bg-info"> {{user.username}} </a></li>
                    <li class="nav-item"><a class="nav-link text-info" href="{% url 'Home:logout' %}">Logout</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'Home:about' %}">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://wa.me//3364297670">Contacto</a></li>
                    <li class="nav-item"><a class="nav-link text-info" href="{% url 'Home:login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>